<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/"><img src="/assets/img/logo.png" class="navlogo" alt="Tame Your Job Search"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse text-right" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/addjob">Add Job</a>
      </li>
    </ul>
  </div>
</nav>

{{#if jobs}}
<div class="alert alert-success text-center" role="alert">Active Jobs</div>
<table class="table table-striped">
<thead>
  <th>Job Title</th>
  <th>Company</th>
  <th>Method</th>
</thead>
  {{#each jobs}}{{#if active}}
  <tr onclick="window.location.href='/job/{{id}}'">
    <td>{{jobtitle}}</td>
    <td>{{company}}</td>
    <td>{{method}}</td>
  </tr>
 {{/if}} {{/each}}
</table>
{{#each jobs}}{{#unless active}}
<div class="alert alert-warning text-center" role="alert">Archived Jobs</div>
{{/unless}}{{/each}}
<table class="table table-striped">
<thead>
  <th>Job Title</th>
  <th>Company</th>
  <th>Method</th>
</thead>
  {{#each jobs}}{{#unless active}}
  <tr onclick="window.location.href='/job/{{id}}'">
    <td>{{jobtitle}}</td>
    <td>{{company}}</td>
    <td>{{method}}</td>
  </tr>
  {{/unless}}{{/each}}
</table>
{{else}}
There are no jobs to display
{{/if}}
